<div class="w-full bg-[#005da8] text-white hidden lg:block">
  <div
    class="container-default text-sm py-2 flex flex-col sm:flex-row justify-between items-center gap-2 sm:gap-0"
  >
    <div class="flex items-center gap-8">
      <span class="flex items-center gap-2">
        <lucide-icon name="Phone" class="w-4 h-4" />
        <a href="tel:0123456789">0123 456 789</a>
      </span>
      <span class="flex items-center gap-2">
        <lucide-icon name="Mail" class="w-4 h-4" />
        contact@nhanphu.vn
      </span>
    </div>

    <span class="flex items-center gap-2">
      <lucide-icon name="MapPin" class="w-4 h-4" />
      {{ "header.address" | translate }}
    </span>
  </div>
</div>

<header class="w-full py-3 shadow-md bg-white relative">
  <div class="container-default flex justify-between items-center">
    <a routerLink="/" class="flex items-center">
      <img
        src="assets/images/logo.png"
        alt="NhanPhu Logo"
        class="h-14 lg:h-12 object-contain"
      />
    </a>

    <nav class="main-nav">
      <a
        class="px-5 xl:px-12"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >{{ "header.home" | translate }}</a
      >
      <a class="px-5 xl:px-12" routerLink="/about" routerLinkActive="active">{{
        "header.about" | translate
      }}</a>
      <a
        class="px-5 xl:px-12"
        routerLink="/solution"
        routerLinkActive="active"
        >{{ "header.solution" | translate }}</a
      >
      <a class="px-5 xl:px-12" routerLink="/contact" routerLinkActive="active">
        {{ "header.contact" | translate }}</a
      >
      <a class="px-5 xl:px-12" routerLink="/news" routerLinkActive="active">{{
        "header.news" | translate
      }}</a>
    </nav>

    <div class="flex items-center gap-6">
      <div class="relative h-full flex items-center">
        <button
          (click)="toggleDropdown(); $event.stopPropagation()"
          aria-label="language"
          class="w-8 h-8 lg:w-6 lg:h-6 object-contain"
        >
          <img
            [src]="'assets/images/language/' + currentLang + '.svg'"
            alt="Lang"
            class="w-full h-full object-contain"
          />
        </button>
        <div
          class="absolute top-full mt-2 bg-white border rounded shadow z-10"
          *ngIf="dropdownOpen"
          (click)="$event.stopPropagation()"
        >
          <button
            class="w-10 h-10 flex items-center justify-center hover:bg-gray-100"
            (click)="setLang('vi')"
          >
            <img
              src="assets/images/language/vi.svg"
              alt="Vietnamese"
              class="w-6 h-6 lg:w-5 lg:h-5"
            />
          </button>
          <button
            class="w-10 h-10 flex items-center justify-center hover:bg-gray-100"
            (click)="setLang('en')"
          >
            <img
              src="assets/images/language/en.svg"
              alt="English"
              class="w-6 h-6 lg:w-5 lg:h-5"
            />
          </button>
        </div>
      </div>

      <button class="block lg:hidden" (click)="toggleMobileMenu()">
        <lucide-icon name="Menu" class="w-10 h-10 lg:w-8 lg:h-8" />
      </button>
    </div>
  </div>

  <div
    *ngIf="mobileMenuOpen"
    class="lg:hidden bg-white shadow-md mt-2 px-10 py-4 z-50"
  >
    <nav class="grid grid-cols-2 gap-4 text-left">
      <a
        class="pl-8 text-2xl"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="toggleMobileMenu()"
      >
        {{ "header.home" | translate }}
      </a>

      <a
        class="pl-8 text-2xl"
        routerLink="/about"
        routerLinkActive="active"
        (click)="toggleMobileMenu()"
      >
        {{ "header.about" | translate }}
      </a>

      <a
        class="pl-8 text-2xl"
        routerLink="/solution"
        routerLinkActive="active"
        (click)="toggleMobileMenu()"
      >
        {{ "header.solution" | translate }}
      </a>

      <a
        class="pl-8 text-2xl"
        routerLink="/contact"
        routerLinkActive="active"
        (click)="toggleMobileMenu()"
      >
        {{ "header.contact" | translate }}
      </a>

      <a
        class="pl-8 text-2xl"
        routerLink="/news"
        routerLinkActive="active"
        (click)="toggleMobileMenu()"
      >
        {{ "header.news" | translate }}
      </a>
    </nav>
  </div>
</header>
