@tailwind base;
@tailwind components;
@tailwind utilities;
.container-default {
  @apply max-w-[85rem] mx-auto px-20 xl:px-4;
}
.news-section {
  margin-top: 30px;
  background-color: #f9fafb;

  .section-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 25px;
    color: #1e3a8a;
    font-weight: 700;
  }

  .news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 32px;
  }
}
